@use "../styles/variables.scss" as vars;
@use "../styles/mixins.scss" as mixins;
.mainPageContainer {
  background-image: url("/Users/dawid/Documents/-Poker-Bankroll-Tracker/Bankroll_tracker/public/images/Background.jpg");
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 20px;
  padding: 20px;
  .mainComponentsContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
}
